.tile {
	aspect-ratio: 1 / 1;
	border-radius: 4px;
	display: flex;
	padding: auto;
	justify-content: center;
}

.tile-active {
	background-color: $active-color;
	z-index: 0;
}

.tile-inactive {
	background-color: $secondary-color;
	z-index: 0;
}

.tile-good {
	background-color: $good-color;
	z-index: 1;
}

.tile-bad {
	background-color: $bad-color;
	z-index: 1;
}

.board-rotate-0 > .tile-good                {animation: bounce-0 300ms}
.board-rotate-0 > .tile-bad                 {animation: shake-0 300ms}
.board-rotate-0.board-flip-y > .tile-good   {animation: bounce-180 300ms}
.board-rotate-90 > .tile-good               {animation: bounce-90 300ms}
.board-rotate-90 > .tile-bad                {animation: shake-90 300ms}
.board-rotate-90.board-flip-x > .tile-good  {animation: bounce-270 300ms}
.board-rotate-180 > .tile-good              {animation: bounce-180 300ms}
.board-rotate-180 > .tile-bad               {animation: shake-180 300ms}
.board-rotate-180.board-flip-y > .tile-good {animation: bounce-0 300ms}
.board-rotate-270 > .tile-good              {animation: bounce-270 300ms}
.board-rotate-270 > .tile-bad               {animation: shake-270 300ms}
.board-rotate-270.board-flip-x > .tile-good {animation: bounce-90 300ms}

.tile-inner {
	align-items: center;
	aspect-ratio: 1 / 1;
	background-color: rgba($color: black, $alpha: 0.1);
	border-radius: 4px;
	color: white;
	display: flex;
	flex: 1;
	justify-content: center;
	margin: 10%;

	@include media('<desktop') {
		font-size: 3em;
	}

	@include media('>=desktop') {
		font-size: 5em;
	}
}

.grid-6 >.tile-inner {
	@include media('<desktop') {
		font-size: 2em;
	}
}

@keyframes bounce-0 {
	0%, 100% {translate: 0 0}
	10%      {translate: 0 2px}
	33%      {translate: 0 -10px}
	50%      {translate: 0 0}
	75%      {translate: 0 -2px}
}

@keyframes shake-0 {
	0%, 100%           {translate: 0 0}
	10%, 30%, 50%, 70% {translate: -10px 0}
	20%, 40%, 60%      {translate: 10px 0}
	80%                {translate: 8px 0}
	90%                {translate: -8px 0}
}

@keyframes bounce-90 {
	0%, 100% {translate: 0 0}
	10%      {translate: 2px 0}
	33%      {translate: -10px 0}
	50%      {translate: 0 0}
	75%      {translate: -2px 0}
}

@keyframes shake-90 {
	0%, 100%           {translate: 0 0}
	10%, 30%, 50%, 70% {translate: 0 -10px}
	20%, 40%, 60%      {translate: 0 10px}
	80%                {translate: 0 8px}
	90%                {translate: 0 -8px}
}

@keyframes bounce-180 {
	0%, 100% {translate: 0 0}
	10%      {translate: 0 -2px}
	33%      {translate: 0 10px}
	50%      {translate: 0 0}
	75%      {translate: 0 2px}
}

@keyframes shake-180 {
	0%, 100%           {translate: 0 0}
	10%, 30%, 50%, 70% {translate: 10px 0}
	20%, 40%, 60%      {translate: -10px 0}
	80%                {translate: -8px 0}
	90%                {translate: 8px 0}
}

@keyframes bounce-270 {
	0%, 100% {translate: 0 0}
	10%      {translate: -2px 0}
	33%      {translate: 10px 0}
	50%      {translate: 0 0}
	75%      {translate: 2px 0}
}

@keyframes shake-270 {
	0%, 100%           {translate: 0 0}
	10%, 30%, 50%, 70% {translate: 0 10px}
	20%, 40%, 60%      {translate: 0 -10px}
	80%                {translate: 0 -8px}
	90%                {translate: 0 8px}
}
