.game-board {
	aspect-ratio: 1 / 1;
	display: block;

	@include media('<desktop') {
		height: fit-content;
		width: 100%;
		margin-bottom: 10%;
	}

	@include media('>=desktop') {
		height: 95%;
		margin-bottom: 1%;
		margin-left: auto;
		margin-top: 1%;
	}
}

.game-board-container {
	display: grid;
	grid-area: auto;
	grid-auto-rows: 1fr;
	grid-gap: 2px 2px;
	height: 100%;
	width: 100%;
}

.grid-3 {
	grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
	grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
	grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
	grid-template-columns: repeat(6, 1fr);
}

.board-animate {
	transition: transform 100ms;
}

// Rotate 0
.board-rotate-0:not(.board-flip-x):not(.board-flip-y) {
	transform: rotate(0deg) scaleX(1) scaleY(1);
	.tile {transform: rotate(0deg) scaleX(1) scaleY(1)}
}

.board-rotate-0:not(.board-flip-x).board-flip-y {
	transform: rotate(0deg) scaleX(1) scaleY(-1);
	.tile {transform: rotate(0deg) scaleX(1) scaleY(-1)}
}

.board-rotate-0.board-flip-x:not(.board-flip-y) {
	transform: rotate(0deg) scaleX(-1) scaleY(1);
	.tile {transform: rotate(0deg) scaleX(-1) scaleY(1)}
}

.board-rotate-0.board-flip-x.board-flip-y {
	transform: rotate(0deg) scaleX(-1) scaleY(-1);
	.tile {transform: rotate(0deg) scaleX(-1) scaleY(-1)}
}

// Rotate 90
.board-rotate-90:not(.board-flip-x):not(.board-flip-y) {
	transform: rotate(90deg) scaleX(1) scaleY(1);
	.tile {transform: rotate(-90deg) scaleX(1) scaleY(1)}
}

.board-rotate-90:not(.board-flip-x).board-flip-y {
	transform: rotate(90deg) scaleX(1) scaleY(-1);
	.tile {transform: rotate(90deg) scaleX(1) scaleY(-1)}
}

.board-rotate-90.board-flip-x:not(.board-flip-y) {
	transform: rotate(90deg) scaleX(-1) scaleY(1);
	.tile {transform: rotate(90deg) scaleX(-1) scaleY(1)}
}

.board-rotate-90.board-flip-x.board-flip-y {
	transform: rotate(90deg) scaleX(-1) scaleY(-1);
	.tile {transform: rotate(-90deg) scaleX(-1) scaleY(-1)}
}

// Rotate 180
.board-rotate-180:not(.board-flip-x):not(.board-flip-y) {
	transform: rotate(180deg) scaleX(1) scaleY(1);
	.tile {transform: rotate(-180deg) scaleX(1) scaleY(1)}
}

.board-rotate-180:not(.board-flip-x).board-flip-y {
	transform: rotate(180deg) scaleX(1) scaleY(-1);
	.tile {transform: rotate(-180deg) scaleX(1) scaleY(-1)}
}

.board-rotate-180.board-flip-x:not(.board-flip-y) {
	transform: rotate(180deg) scaleX(-1) scaleY(1);
	.tile {transform: rotate(-180deg) scaleX(-1) scaleY(1)}
}

.board-rotate-180.board-flip-x.board-flip-y {
	transform: rotate(180deg) scaleX(-1) scaleY(-1);
	.tile {transform: rotate(-180deg) scaleX(-1) scaleY(-1)}
}

// Rotate 270
.board-rotate-270:not(.board-flip-x):not(.board-flip-y) {
	transform: rotate(270deg) scaleX(1) scaleY(1);
	.tile {transform: rotate(-270deg) scaleX(1) scaleY(1)}
}

.board-rotate-270:not(.board-flip-x).board-flip-y {
	transform: rotate(270deg) scaleX(1) scaleY(-1);
	.tile {transform: rotate(270deg) scaleX(1) scaleY(-1)}
}

.board-rotate-270.board-flip-x:not(.board-flip-y) {
	transform: rotate(270deg) scaleX(-1) scaleY(1);
	.tile {transform: rotate(270deg) scaleX(-1) scaleY(1)}
}

.board-rotate-270.board-flip-x.board-flip-y {
	transform: rotate(270deg) scaleX(-1) scaleY(-1);
	.tile {transform: rotate(-270deg) scaleX(-1) scaleY(-1)}
}