.game-board {
	aspect-ratio: 1 / 1;
	display: block;

	@include media('<desktop') {
		height: fit-content;
		width: 100%;
		margin-bottom: 10%;
	}

	@include media('>=desktop') {
		height: 95%;
		margin-bottom: 1%;
		margin-left: auto;
		margin-top: 1%;
	}
}

.game-board-container {
	display: grid;
	grid-area: auto;
	grid-auto-rows: 1fr;
	grid-gap: 2px 2px;
	height: 100%;
	width: 100%;
}

.grid-3 {
	grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
	grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
	grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
	grid-template-columns: repeat(6, 1fr);
}


.board-rotate-0 {
	rotate: 0deg;
	transition: rotate 100ms;

	.tile {
		rotate: 0deg;
	}
}

.board-rotate-90 {
	rotate: 90deg;
	transition: rotate 100ms;

	.tile {
		rotate: -90deg;
	}
}
.board-rotate-180 {
	rotate: 180deg;
	transition: rotate 100ms;

	.tile {
		rotate: -180deg;
	}
}
.board-rotate-270 {
	rotate: 270deg;
	transition: rotate 100ms;

	.tile {
		rotate: -270deg;
	}
}
