$primary-color: #3e9;
$primary-color-darker: #0c7;

$secondary-color: #b88c9e;
$secondary-color-darker: #704c5e;
$secondary-color-lighter: #f1c8db;

$background-color: #001524;

$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);
