$primary-color: #3e9;
$secondary-color: #b92e8c;
$background-color: #001524;

$active-color: rgb(51, 194, 238);
$good-color: $primary-color;
$bad-color: rgb(238, 63, 51);

$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);
