@use 'include-media' as *;
@use 'variables' as *;

html, body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $background-color;
	overscroll-behavior: contain;
	position: fixed;
	overflow: hidden;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.body-container {
	justify-content: space-around;

	@include media('<desktop') {
		flex-direction: column-reverse;
	}

	@include media('>=desktop') {
		flex-direction: row;
	}
}

.desktop-only {
	@include media('<desktop') {
		display: none;
	}
}

.flex-container {
	display: flex;
	flex: 1;
}

#root {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}
