$primary-color: #3e9;
$primary-color-darker: #0c7;

$secondary-color: #b88c9e;
$secondary-color-darker: #704c5e;
$secondary-color-lighter: #f1c8db;

$background-color: #001524;

html, body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $background-color;
	overscroll-behavior: contain;
	position: fixed;
	overflow: hidden;
}
